@import "../../globals/styles.scss";

.icon {
  width: $iconSize;
  height: $iconSize;
  margin: 7px;
  background-color: $iconBackgroundColor;
  border-radius: 50%;
  box-shadow: $shadow;
}

.small {
  width: $iconSize_small;
  height: $iconSize_small;
  margin: 0;
}
