@import "../../globals/styles.scss";

.dataPanel {
  @include dataPanelStyles;
}

.city {
  color: $brown;
}

.temp {
  font-size: 70px;
}

.wind {
  color: $metadata;
}

.hr {
  @include hrStyles;
}
