@import "../../globals/styles.scss";

.dataPanel {
  @include dataPanelStyles;
  align-items: stretch;
}
@media only screen and (min-width: 800px) {
  .dataPanel {
    margin-left: 0;
  }
}
@media only screen and (max-width: 800px) {
  .dataPanel {
    margin-top: 0;
  }
}

.forecastTable {
  background-color: $tableBackgroundColor;
  border-collapse: collapse;
}

.timeFrame {
  padding: 0;
  cursor: pointer;
}
.timeFrame:hover {
  background-color: $tableRowHoverBackgroundColor;
}
.timeFrame td {
  margin: 0;
  padding: 7px 0;
}

.datetime {
  width: $panelRatio_L;
}

.icon {
  width: $iconSize_small;
  text-align: right;
}

.description {
  width: $panelRatio_L;
  padding-left: 7px !important;
}

.temp {
  font-size: 21px;
}
