@import "../../globals/styles.scss";

.dataPanel {
  @include dataPanelStyles;
  align-items: stretch;
}
@media only screen and (min-width: 600px) {
  .dataPanel {
    margin-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .dataPanel {
    margin-top: 0;
  }
}

.forecastTable {
  background-color: $tableBackgroundColor;
  border-collapse: collapse;
  border-radius: 7px;
}

.timeFrame {
  cursor: pointer;
}
.timeFrame:hover {
  background-color: $tableRowHoverBackgroundColor;
}
.timeFrame td {
  padding: 7px;
}

.time {
}

.icon {
}

.description {
}

.temp {
  font-size: 21px;
}
