.App {
  position: absolute;
  display: flex;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App > div {
  flex: 1 1 auto;
  padding: 14px;
  overflow: auto;
}

@media only screen and (max-width: 800px) {
  .App {
    flex-direction: column;
  }

  .App > div {
    flex: 1 0 auto;
  }
}
