$headingFontFamily: freight-big-pro, serif;
$headingFontWeight: 700;
$headingTextColor: rgb(74, 74, 74);
$bodyFontFamily: freight-sans-pro, helvetica, sans-serif;
$bodyFontWeight: 300;
$bodyTextColor: rgb(17, 17, 17);

@mixin headingFontStyles {
  font-family: $headingFontFamily;
  font-weight: $headingFontWeight;
  color: $headingTextColor;
}

@mixin bodyFontStyles {
  font-family: $bodyFontFamily;
  font-weight: $bodyFontWeight;
  color: $bodyTextColor;
}

body {
  @include bodyFontStyles;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headingFontStyles;
}
